<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <input style="width:400px;" type="text" class="form-control" placeholder=@PlaceHolder @bind-value="String">
    <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
    <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
</div>
